.inactive {
  color: #F8F0E5;
  opacity: 0.2;
}

.active {
  color: #FF7EA8;
  opacity: 1;
}

#word-grid {
  display: flex;
  flex-wrap: wrap;
}

li {
  color: #F8F0E5;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 80px;
  opacity: 0.2;
  list-style: none;
}

body {
  background-color: #121B30;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 80%;
  height: 90vh;
}


/*
DARK BLUE: #121B30  rgba(18, 27, 48, 0.75)

OLIVE GREEN: #8A8CSE

PINK: #FF7EA8

LIGHT YELLOW: #F8F0E5

LIGHT BLUE: #4F6687

LIGHT GRAY BACKGROUND FOR IMAG: #EAEAEA
*/
